*{
    box-sizing: border-box;
}

.header{
    display: flex;
}

.end-game{
    margin-right: auto;
}

#time-left{
    
}

.quiz-area{
    display: flex;
    justify-content: center;
}

.quiz-box{
    text-align: center;
    width: 66%;
    height: 66vh;
    background-color: aqua;
}

#start-button{

}