*{
    box-sizing: border-box;
}

.header{
    display: flex;
}

h1{
    margin-right: auto;
}

div{
    display: flex;
}

#quiz-area{
    display: flex;
    justify-content: center;
}

#quiz-box-start-page{
    display: block;
}

.quiz-box-questions-page{
    display: none;
}

#quiz-box-end{
    display: none;
}

#show-scores-page{
    display: none;
}